/* .hover-animation:hover {
    opacity: 1;
} */

  .heading-tab {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  .display-box {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  .btn-group {
    display: flex;
  }
  .image-button{
    /* display: flex; */
    position:absolute;
    right: 0;
    margin-right: 10px;
  }
.button-container {
    position: relative;
    height:60%;
    width:60%;
    /* display: inline-block; */
  }
  
  /* .hover-animation {
    position: relative;
    top: 0;
    left: 0;
    width: 10%;
    height: 10%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  } */
  /* .button-container:hover .hover-animation {
    opacity: 0.5;
  }
   */
  /* .animated-button {
    border: none;
    background: transparent;
  } */